.TaskandStat{
    display: flex;  
    /* flex-wrap: wrap; */
    /* /* align-items: center; */
    /* justify-content:space-between;  */
    margin-left: 15px;
    margin-right: 15px;
    gap: 1rem;
}



@media (max-width:780px){

    .TaskandStat{
        flex-direction: column;
        margin: 0;
    }
}

